:root {
    --border-radius: 10px;
    --blur-amount: 10px;
    --square-size: 50px;
    --btn-bg-color: #5a5a5a;
    --btn-hover-bg-color: linear-gradient(135deg, #680000, #ff0000);
    --shadow-color: rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.logo {
    max-width: 100px;
    position: absolute;
    top: 10px;
    left: 20px;
    filter: brightness(0) invert(1);
}

nav {
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    background: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    font-size: 18px;
}

nav a:hover {
    color: #e60000; 
}

h1 {
    color: #e60000;
}

h2 {
    color: white;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.outer-form {
    background-color: #333;
    padding: 40px;
    border-radius: var(--border-radius);
    position: relative;
    z-index: 5;
    width: calc(100% - 50px);
    max-width: 900px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.glass-form {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(var(--blur-amount));
    border-radius: var(--border-radius);
    padding: 2rem;
    width: 80%;
    max-width: 500px;
    position: relative;
    z-index: 10;
    box-shadow: 0 8px 12px var(--shadow-color);
    margin: auto;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    display: block;
    font-size: 16px;
    color: white;
}

input {
    width: 60%;
    padding: 10px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: none;
}

button {
    padding: 10px;
    background-color: #5a5a5a;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    width: calc(60% + 20px);
    transition: background-color 0.3s, transform 0.3s;
    text-align: left;
    position: relative;
    overflow: hidden;
}

button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #680000, #ff0000);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.65s ease;
    z-index: -1;
    border-radius: 0px;
}

button:hover::before {
    transform: scaleY(1);
}

button strong {
    font-weight: bold;
    position: relative;
    z-index: 1;
}

button:hover {
    transform: scale(1.05);
}

.login-link {
    color: white;
    text-align: left;
    margin-top: 10px;
}

.login-link a {
    text-decoration: none;
    color: #e60000;
    font-weight: bold;
}

.glass-form::before {
    content: '';
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    background: rgba(0, 0, 0, 0.1);
    filter: blur(15px);
    z-index: -1;
}

.floating-squares {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
}

.square {
    position: absolute;
    width: var(--square-size); 
    height: var(--square-size); 
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(var(--blur-amount)); 
    border-radius: var(--border-radius);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.square:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.3);
}

.square:nth-child(1) {
    top: 20px;
    left: 20px;
    animation: moveSquare1 12s infinite;
}

.square:nth-child(2) {
    top: 60px;
    right: 20px;
    animation: moveSquare1 14s infinite;
}

.square:nth-child(3) {
    bottom: 40px;
    left: 50%;
    animation: moveSquare1 16s infinite;
}

.square:nth-child(4) {
    bottom: 20px;
    right: 40px;
    animation: moveSquare1 18s infinite;
}

.square:nth-child(5) {
    top: 40%;
    left: 40%;
    animation: moveSquare1 20s infinite;
}

@keyframes moveSquare1 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-30px, 30px); }
    100% { transform: translate(0, 0); }
}

@keyframes moveSquare2 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-30px, 20px); }
    100% { transform: translate(0, 0); }
}

@keyframes moveSquare3 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(-20px, -20px); }
    100% { transform: translate(0, 0); }
}

@keyframes moveSquare4 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(40px, 70px); }
    100% { transform: translate(0, 0); }
}

@keyframes moveSquare5 {
    0% { transform: translate(0, 0); }
    50% { transform: translate(30px, -60px); }
    100% { transform: translate(0, 0); }
}