body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.logo {
    max-width: 100px;
    position: absolute;
    top: 10px;
    left: 20px;
    filter: brightness(0) invert(1);
}

nav {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    background: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
    padding: 0px 0px;
    border: 0px solid transparent;
}

nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
    font-size: 18px;
}

nav a:hover {
    color: #e60000; 
}

h1, h2, h3 {
    color: #e60000;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

:root {
    --card-width: 300px;
    --card-height: 400px;
    --gradient-start: rgba(255, 0, 150, 0.8);
    --gradient-end: rgba(0, 204, 255, 0.8);
    --text-color: #fff;
    --card-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    margin: 20px;
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    position: relative;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    transform: scale(1.05);
}

/* Градиентный паралелограмм с наклонными боковыми сторонами */
.card::before {
    content: "";
    position: absolute;
    top: 50%;  /* Центрируем относительно полупрозрачного элемента */
    left: 50%;
    width: 60%; /* Паралелограмм будет уже полупрозрачного элемента */
    height: 100%;
    background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
    transform: skewX(-20deg); /* Наклоняем боковые стороны */
    z-index: 1;
    transform-origin: center;
    transition: all 0.3s ease;
    transform: translate(-50%, -50%) skewX(-20deg); /* Центрируем паралелограмм */
}

/* Анимация: паралелограмм превращается в прямоугольник */
.card:hover::before {
    transform: translate(-50%, -50%) skewX(0deg); /* Центрируем прямоугольник */
    width: 50%; /* Прямоугольник в 2 раза уже, чем полупрозрачный элемент */
    top: 50%;  /* Центрируем относительно полупрозрачного элемента */
    left: 50%;
}

/* Полупрозрачный элемент с текстом */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(211, 211, 211, 0.5); /* Полупрозрачный фон */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 2;
    color: var(--text-color);
    transition: all 0.3s ease;
    width: 80%; /* Ширина полупрозрачного элемента */
    height: 40%; /* Горизонтальный прямоугольник */
    box-shadow: var(--card-shadow);
    backdrop-filter: blur(5px); 
    display: flex; /* Добавляем flex */
    flex-direction: column; /* Устанавливаем направление по вертикали */
    justify-content: center; /* Центрируем по вертикали */
    align-items: center; /* Центрируем по горизонтали */
}


.card:hover .content {
    width: 90%; /* Увеличиваем ширину при наведении */
    height: 40%; /* Высота остаётся неизменной */
}

.title {
    font-weight: bold;
    font-size: 1.5rem;
}

.description {
    font-size: 1rem;
    font-weight: normal;
}

.square {
    position: absolute;
    width: 90px;
    height: 90px;
    background: rgba(211, 211, 211, 0.5);
    border-radius: 10px;
    opacity: 0; /* Квадраты невидимы по умолчанию */
    transition: opacity 0.3s ease-in-out;
    backdrop-filter: blur(5px); 
    box-shadow: var(--card-shadow); 
    z-index: 2;
}

.square1 {
    top: -110px;
    left: 10%;
}

.square2 {
    bottom: -110px;
    right: 10%;
}

.card:hover .square {
    animation: none; /* Сбрасываем анимацию на hover, чтобы применять только на отдельные элементы */
    opacity: 1; /* Делаем квадраты видимыми при наведении */
}

.card:hover .square1 {
    animation: slideIn1 0.5s forwards;
}

.card:hover .square2 {
    animation: slideIn2 0.5s forwards;
}

@keyframes slideIn1 {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(50px);
        opacity: 1;
    }
}

@keyframes slideIn2 {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(-50px);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .card {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .card {
        width: 90%;
        height: auto;
    }
}

.blur-effect-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 20px;
}

.blur-card {
    width: var(--card-width);
    height: var(--card-height);
    background: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, filter 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}


.gradient-circle1 {
    width: 300px;
    height: 150px;
    background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
    border-radius: 50%;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.gradient-circle2 {
    width: 300px;
    height: 150px;
    background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Круг с картинкой в центре карточки */
.img-circle {
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom, var(--gradient-color-start), var(--gradient-color-end));
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* Картинка товара */
.product-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

/* Заголовок */
.blur-card h3 {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
    z-index: 2;
    position: relative;
}

/* Увеличение карточки при наведении */
.blur-card:hover {
    transform: scale(1.1);
    z-index: 2;
}

/* Блюр остальных карточек при наведении на одну */
.blur-effect-container:hover .blur-card:not(:hover) {
    filter: blur(5px);
}

.lights-card-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 20px;
}

.lights-card {
    position: relative;
    background: #ddd;
    border-radius: 15px;
    padding: 20px;
    width: var(--card-width);
    height: var(--card-height);
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, opacity 0.3s, box-shadow 0.3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;  
}

/* Эффекты при наведении */
.lights-card:hover {
    transform: scale(1.05);
    box-shadow: var(--card-shadow);
    z-index: 10;
}

/* Затемнение остальных карточек */
.lights-card-container:hover .lights-card {
    opacity: 0.5;
}

.lights-card-container:hover .lights-card:hover {
    opacity: 1;
}

/* Лучи внутри карточки */
.lights-card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    left: 0;
    background: linear-gradient(135deg, rgba(255, 0, 150, 0.8), rgba(0, 204, 255, 0.8));
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    padding: 7px;
    box-sizing: border-box;
    animation: clippath 3s infinite linear;
    opacity: 0;
    transition: opacity 0.3s;
}


.lights-card:hover::before {
    opacity: 1;
}

/* Заголовок */
.lights-card h3 {
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin-top: auto;
    margin-bottom: 17px;
    z-index: 2;
    position: relative;
    text-shadow: var(--card-shadow);
}

/* Анимация лучей */
@keyframes clippath {
    0%, 100% {
        clip-path: inset(0 0 95% 0);
    }
    25% {
        clip-path: inset(0 95% 0 0);
    }
    50% {
        clip-path: inset(95% 0 0 0);
    }
    75% {
        clip-path: inset(0 0 0 95%);
    }
}